/.bash_history
/.bash_logout
/.bashrc
/.cache
/.dotnet
/.local
/.motd_shown
/.profile
/.python_history
/.selected_editor
/.sudo_as_admin_successful
/.vscode-server
/.wget-hsts
/oauth2_creds.json
Reto3/__pycache__/TarjetaDeCumple.cpython-310.pyc
tareas_hoy.pdf
Reto3/tareas.pdf
creds.json
